PGUSER=requestbin
PGPASSWORD=change-me
PGHOST=10.0.3.10
PGDATABASE=requestbin
PGPORT=5432
MONGODB_URI=mongodb://10.0.3.11:27017/requestbin
PORT=3001
CORS_ORIGIN=http://WEB_SERVER_PUBLIC_DNS_OR_IP
SOCKET_IO_ORIGIN=http://WEB_SERVER_PUBLIC_DNS_OR_IP
TRUST_PROXY=true
